<!DOCTYPE html>
<html>
<body>
    <h1>Hospital Registration</h1>

    <form action="/submit" method="POST">
        <label>Patient Name:</label>
        <input type="text" name="patient_name" required>
        <br><br>
        <label>Patient Age:</label>
        <input type="number" name="patient_age" required>
        <br><br>
        <button type="submit">Register Patient</button>
    </form>
   <form action="/get_data" method="GET">
     <button type="submit" style="background-color: #4CAF50; color: white; padding: 10px;">
            Show All Records
        </button>
    </form>
  <br>
<label>System Output:</label><br>
    <textarea readonly style="width: 400px; height: 150px;">{{ msg }}</textarea>

</body>
</html>
